// pointer
.pointer {
  cursor: pointer;
}

.object-cover {
  object-fit: cover;
  object-position: center;
}

@import url("https://fonts.cdnfonts.com/css/neo-sans-arabic");
body {
  direction: rtl;
  text-align: right;

  // background-color: #40444c;
  font-family: "Neo Sans Arabic", sans-serif;
}

.icon-box {
  border-radius: 8px;
  cursor: pointer;
  transition: all 0.3s ease;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  -ms-border-radius: 8px;
  -o-border-radius: 8px;
  &:hover {
    background: #a4ceffa1;
  }
}

.ant-steps-horizontal:not(.ant-steps-label-vertical) .ant-steps-item {
  padding-left: 0px !important;
  white-space: nowrap;
}

.ck-reset_all :not(.ck-reset_all-excluded *),
.ck.ck-reset,
.ck.ck-reset_all {
  background: #f2f4f7 !important;
  border: 0;
  box-sizing: border-box;
  height: auto;
  margin: 0;
  padding: 0;
  position: static;
  text-decoration: none;
  transition: none;
  vertical-align: middle;
  width: auto;
  word-wrap: break-word;
}

.ck[dir="rtl"] .ck {
  overflow: scroll;
  max-height: 333px;
}

label {
  font-weight: 400;
}
